@import "./variables";

.panel {
	padding: 1rem;

	&--side {
		width: 25%;
		color: $blue;
	}

	&--main {
		width: 75%;
		color: $yellow;

		filter: drop-shadow(0 0 5px $blue);
	}
}

.header,
.footer {
	padding: 0.75rem;
	color: antiquewhite;
	background-color: $crimson;
}

.header {
	&__hero {
		line-height: 0;
		font-size: xx-large;
	}
	&__navlinks {
		gap: 1rem;
	}
}
