@import "./variables";

.input-fields {
	margin: 2.5rem 0;
}

.content {
	padding: 1rem;

	&--side {
		font-size: 75px;
	}

	&--main {
		.input {
			&--text {
				color: $blue;
				background: $yellow;

				font-size: 1.75rem;
				filter: drop-shadow(4px 4px 0 #000);
			}
		}
		.button {
			&--submit {
				font-size: 40px;
				padding: 0.5rem 2.5rem;
			}
		}
	}
}
