@import url("https://fonts.googleapis.com/css2?family=Playball&family=Sen:wght@400;700;800&display=swap");

body {
	margin: unset;

	textarea {
		margin: unset;
	}

	a {
		color: inherit;
		text-decoration: unset;
	}

	ul {
		list-style: none;
	}

	*::selection {
		color: white;
		background-color: #67000c;
	}

	// Hiding arrows from number text-field
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	// in Firefox
	input[type="number"] {
		-moz-appearance: textfield;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ccc;
}
